.App {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: blue;
  color: white;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  background-color: black;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  a {
    color: white;
    text-decoration: none; /* no underline */
  }

  a:hover {
    color: blue;
    cursor: pointer;
  }
}

.welcome-note {
  margin-top: 2px;
}

/* Styling for the AddUser component */
.AddUser {
  text-align: center;
}

.AddUser h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.AddUser p {
  color: red;
}

.AddUser input[type="text"] {
  width: 300px; /* Adjust the width as needed */
  padding: 10px;
  margin-bottom: 10px;
}

.AddUser button {
  padding: 10px 20px;
  background-color: blue;
  color: #fff;
  border: none;
  cursor: pointer;
}

.AddUser button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Styling for the Ownerpage component */
.Ownerpage {
  text-align: center;
}

.Ownerpage h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.Ownerpage table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.Ownerpage th,
.Ownerpage td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.Ownerpage th {
  background-color: #f2f2f2;
}

.Ownerpage tr:hover {
  background-color: #f5f5f5;
}
